*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#btn-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 960px;
    height: 960px;
    margin: auto;
    border: 1px solid black;
}

.square {
    border: 1px solid black;
}
